* {
  background: linear-gradient(
    184deg,
    rgba(139, 60, 66, 1),
    rgba(13, 12, 12, 1)
  );
  background-attachment: fixed;
  text-align: center;
  font-family: 'Revalia', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.collections {
  margin: 1%;
  border: 1px solid;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}
.card {
  margin: 1%;
  border: 1px solid;
  height: max-content;
  width: 10rem;
  display: flex;
  flex-direction: column;
}
.card-image {
  flex-grow: 1;
}
.card-image img {
  object-fit: contain;
  width: 100%;
}
.card-title {
  border: 1px solid;
  background-color: black;
  color: #fff;
}
.card-action {
  border: 1px solid;
}

/* CSS */
.card-action button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* border-radius: 6px; */
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  background: #212521;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.card-action button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.card-action button:hover {
  background-color: #2c974b;
}

.card-action button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.card-action button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.card-action button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
